h1 {
    background-color: rgb(121, 242, 121);
    display: inline;
    color: #fff;
    padding: 20px;
}
.btn{
    padding: 10px 30px;
    margin: 0px 10px;
    border-radius: 15px;
    background-color: rgb(23, 186, 241);
    color: #fff;
}
 .innerDiv{
        display: inline;
        float: right;
        padding: 20px;
        margin: 0px 100px;
    }
 button a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;

 }   
div{
    margin: 100px 0px;
}

